* {-o-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
body {
  color: #2d2d2d;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Open Sans', sans-serif;
}
header {
  height: 80px;
  position: fixed;
  width: 100%;
}
.wrapper {
	width: 100%;
	padding: 0 5%;
}
.home {
	margin: 0;
	height: auto;
	background-image: url(../img/bg_home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
span {
	color: #fff;
}
.main_menu {
	padding: 0;
	margin: 0;
	list-style: none;
}
.main_menu li.lgactive:hover::after {
	content: '';
	width:  10px 10px 10px 10px;
	height: 2px;
	display: block;
	background: #2b8e50;
	border-bottom-style: solid;
	border-color: #cacd58;
}
.main_menu li a {
	color: #fff;
	font-size: 15px;
	margin-left: 15px;
	margin-right: 15px;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	opacity: 0.4;
}
.main_menu li.active a, .main_menu li:hover a {
	opacity: 1;
	border-bottom: 2px solid #2b8e50; 
}
.main_menu li a::after {
	content: '/';
	position: absolute;
	right: -15px;
}
.main_menu li:last-child a::after {
	content: '';
}
.a_center {
	-ms-align-items: center;
	align-items: center;
}
.jcsb {
	justify-content: space-between;
}
.jcc {
	justify-content: center;
}
h1 {
	font-size: 26px;
}
h1, h2, h3 {
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
}
.home_content {
	color: #fff;
	line-height: 1.4;
	margin-top: 65px;
}
.home_img {
	margin: 35px 0;
}
.home_img img {
	width: 100%;
}
.btn {
	color: #33302d;
	text-transform: uppercase;
	font-size: 18px;
	background: #2b8e50;
	padding: 8px 0px;
	width: 240px;
	display: block;
	text-decoration: none;
	font-weight: 500;
	font-family: Oswald ;
	text-align: center;
	border-radius: 4px;
}
.btn:hover{
	background: #ffd57a;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.btn_lg {
	opacity: 0.4;
	border: 2px solid #fff;
	padding: 5px 5px 5px 5px;
}
.btn_lg:hover {
	color: #fff;
	border: 2px solid #fff;
	font-size: 6px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 500;
	position: relative;
	text-align: center
	opacity: 1;
}
.home_direction {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}
section {
	margin: 45px 0;
}
.box {
	background: #fff;
	-webkit-box-shadow: 0 15px 30px rgba(37, 36, 55, 0.15);
	box-shadow: 0 15px 30px rgba(37, 36, 55, 0.15);
	border-radius: 4px;
	position: relative;
}
.box::before {
	content: '';
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	display: block;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	position: absolute;
	top: 4px; 
	left: 4px;
}
.box_icon {
	width: 100px;
	height: 100px;
}
.white_square {
	border-radius: 4px;
	border: 1px solid #e5e5e5;
	padding: 10px;
}
.column {
	margin-bottom: 40px;
}
.line {
	border: 2px solid #fff;
}
.aline {
	width: 70px;
	height: 2px;
	display: block;
	margin-top: 35px;
	margin-bottom: 45px;
}
.line_green {
  background: #6fb36c;
}
.text_itan {
	background: #fff;
	padding: 25px;
	box-shadow: 0 15px 30px rgba(37, 36, 55, 0.15);
}
.text_pad {
	padding: 15px;
}